.grid {
  display: flex;
}

.col-fixed {
  flex: 0 0 auto;
}

.col {
  flex: 1 1 auto;
}

@media only screen and (max-width: 780px) {
  .grid {
    display: block;
  }
}

.ingredients {
  text-align: left;
}